
.fa-home{color: #fff;}
.input-wrapper >i{position: relative;margin-left: 15px; color:#fff;}/*let the icon render to indicated color*/
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
video{display:inline-block;vertical-align:baseline}
a{background:transparent}

h1{font-size:2em;margin:.67em 0}

img{border:0}

input{line-height:normal}
/*input[type="checkbox"],input[type="radio"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0}*/
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}
input[type="search"]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}

textarea{overflow:auto}


/*pre{font-family:'helvetica neue','microsoft yahei','pingfang sc','hiragino sans gb','stheiti',tahoma,sans-serif}*/
a{text-decoration:none}
li{list-style-type:none}
/*pre li{list-style-type:inherit}*/
a,input{outline:0}.clearfix:after{content:'';display:block;clear:both;visibility:hidden}

@media screen and (min-width:768px){.header .weixin-download{display:none}}

.header .wrapper-wider{overflow:hidden;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:28px 25px 0;width:100%;}
.header .wrapper-wider .head-left{float:left;}
.header .wrapper-wider .head-right{float:right;}
.header .wrapper-wider .nav-pc{display:inline-block;position:relative;top:5px;}
.header .wrapper-wider .nav-pc >a{font-size:14px;color:#fff;margin:0 22px;}
.header .wrapper-wider .nav-pc >a .keep-icon-user{font-size:22px;color:rgba(255,255,255,0.4);margin:-3px 10px 0 -5px;width:22px;display:inline-block;vertical-align:top}


@media screen and (max-width:767px){.header .wrapper-wider{display:none}}

.footer{background:#fff;}
.footer .footer-wrapper{width:100%;margin:0 auto;padding-top:6rem}
.footer .footer-wrapper{width:768px;padding-top:60px}
.footer .copyright{margin-top:3.7rem;text-align:center;padding:2.4rem 0;border-top:1px solid #f0f0f0;font-size:1.2rem;color:#999;}
.footer .copyright a{display:none}
.footer .copyright{margin-top:10px;padding:24px 0;font-size:12px;}
.footer .copyright a{display:inline;color:#999}

.iconheader h1 {margin-top: 10px;letter-spacing: -1px;font-weight: bold;font-size: 1.65em;line-height: 1;display: inline-block;color: white;
}
.emailrecover a{color: aliceblue;}
.emailrecover a:hover{
	text-decoration:underline;
}
.emailrecover{
	position: relative;
	text-align: right;
	margin-bottom: 20px;
	margin-top: -16px;
}



