
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background:#584f60;
}

.iconheader{
    margin-top: 10px;
    letter-spacing: -1px;
    font-weight: bold;
    font-size: 1.65em;
    line-height: 1;
    display: inline-block;
    color: white;
    margin-left:60px;
    margin-top:60px;
}

.container {
  position: relative;
  max-width: 800px;
  height: inherit;
  background: #fff;
  border-radius: 10px;
  margin: 2.5rem auto;
  top: 0px;
}
.introMessage{
    position: relative;
	height: 100px;
	text-align: center;
}

.result {
  padding: 1.5rem 2.5rem;
}

.answerList {
  margin: 0;
  padding: 0;
  border-radius:10px;
}

/* Question Component */
.question {
    position:relative;
  margin: 0;
  padding: 0.5rem 2.5rem 1.5rem 2.5rem;
}

/* AnswerOption Component */
.answerChiocePanel {
  border-top: 20px solid #eee;
}

.answerChiocePanel:hover {
  background-color: #eefbfe;
}


.answerLabel {
    display: inline-block;
    position: relative;
    border-radius:10px;
    width: 100%;
    margin: 0;
    padding: 1.5rem 2.5rem 1.5rem 5rem;
    font-size: 16px;
    line-height: 1.5;
}



